

<div class="row">
    <div class="col-xl-6 col-md-12" style="padding: 0px 20px 20px 20px;">
        <div class="card card-default" style="height:100%;">
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12" style="padding: 0px 20px 20px 20px;">
        <div class="card card-default" style="height:100%;">
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="radar-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="row">
    <div class="col-xl-4 col-md-12" style="padding: 0px 20px 20px 20px;">
        <div class="card card-default" style="height:100%;">
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-4 col-md-12" style="padding: 0px 20px 20px 20px;">
        <div class="card card-default" style="height:100%;">
            <div class="card-body">
                <h6 class="card-title">Most active days </h6>
                <br/>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="cal-heatmap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-12" style="padding: 0px 20px 20px 20px;">
        <div class="card card-default" style="height:100%;">

            <div class="card-body">
                <h6 class="card-title">Vistor Count</h6>
                <img src="~/img/1.png" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Add new row here-->
</div>